# flyctl launch added from .gitignore
**\venv
**\.venv
**\static\.webassets-cache
**\*.pyc
**\secrets
**\.env
**\__pycache__
**\*.py[cod]
**\*$py.class
fly.toml
build/
android/
gitignore
*.keystore
*.jks
*.apk
*.aab
.vscode
.gradle/
gradelw
gradelw.bat
src/
