<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, viewport-fit=cover">

        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icons/favicon.ico') }}">
        <link rel="icon" type="image/png" href="/static/icons/favicon-96x96.png" sizes="96x96" />
        <link rel="icon" type="image/svg+xml" href="/static/icons/favicon.svg" />
        
        <title>
            You are offline - Shopping Manager
        </title>
    </head>
    <body>
        <h1>You are offline</h1>
        <p>Don't worry, you can still access your dashboard here.</p>    
    </body>
</html>