{% extends "base.html" %}

{% block title %}
{{ title | default('Shopping Manager') }}
{% endblock %}

{% block content %}
<div class="container mt-2">
    <div class="card sm-card mb-4">
        <div class="card-header">Recent Activity</div>
        <div class="card-body">
            {% if recent_activity %}
            <ul class="list-group list-group-flush">
                {% for activity in recent_activity %}
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div>
                        <strong>{{ activity.user.name }}</strong>
                        <small class="text-muted d-block">{{ format_action(activity.action_type) }}</small>
                    </div>
                    <small class="text-muted text-nowrap utc-time" data-utc="{{ activity.timestamp.isoformat() }}">{{ activity.timestamp.strftime('%d %B %Y, %H:%M') }}</small>
                </li>
                {% endfor %}
                </ul>
            {% else %}
            <p class="card-text">No Activity Yet! Check back later.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}